*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
/config/database.yml
/config/initializers/devise.rb
/db/data*.yml
/public/*
/app/assets/images/Signature_JP_white_bg.jpg
/config/tuna.yml
tags
TAGS
/db/schema.rb
/config/sidekiq.yml
/config/puma.rb
/config/init/*
puma
sidekiq
clockwork
