#!/bin/sh

USER=clem
APP_PATH=/var/www/cheerful_tuna
PID_FILE=${APP_PATH}/tmp/pids/sidekiq.pid
CONFIG_FILE=${APP_PATH}/config/sidekiq.yml
DESC=Sidekiq
NAME=sidekiq


export HOME=/home/${USER}
export RBENV_ROOT=${HOME}/.rbenv
export PATH=${RBENV_ROOT}/shims:$PATH
export PATH=${RBENV_ROOT}/bin:$PATH
export PATH=${RBENV_ROOT}/bin/rbenv:$PATH

export PATH=/usr/local/bin:$PATH
export PATH=/usr/local/sbin:$PATH
export PATH=/usr/sbin:$PATH
export PATH=/usr/bin:$PATH
export PATH=/sbin:$PATH
export PATH=/bin:$PATH

cd ${APP_PATH}

echo $HOME
echo ${RBENV_ROOT}
echo ${PATH}
#rbenv init -
#/home/clem/.rbenv/versions/1.9.3-p327/bin/bundle

start() {
  /usr/bin/env HOME=/home/clem /bin/sh -l -c "cd ${APP_PATH}; nohup /home/clem/.rbenv/versions/1.9.3-p327/bin/bundle exec sidekiq -C ${CONFIG_FILE} -v -e development -P ${PID_FILE} >> /var/www/cheerful_tuna/log/sidekiq.log 2>&1" || true
}
stop() {
  /usr/bin/env HOME=/home/clem /bin/sh -l -c "cd ${APP_PATH}; bundle exec sidekiqctl stop /var/www/cheerful_tuna/tmp/pids/sidekiq.pid 60 >> /var/www/cheerful_tuna/log/sidekiq.log 2>&1" || true
}

case "$1" in
  start)
    echo "Starting $DESC: "
    start
    ;;
  stop)
    echo "Stoping $DESC: "
    stop
    ;;
  *)
    echo "Usage: $NAME {start|stop}" >&2
    exit 1
    ;;
esac

exit 0
