<div class="page-header">
  <h1>Delivery Request summary</h1>
</div>
<p class="lead">Your delivery request has been transmitted. You will receive a copy of your receipt at <%= "email@example.com #{true}" %>.</p>
<p>The Collection Point below will contact you under 72hrs to arrange the delivery:</p>
<address>
  <strong>Twitter, Inc.</strong><br>
  795 Folsom Ave, Suite 600<br>
  San Francisco, CA 94107<br>
  <abbr title="Phone">P:</abbr> (123) 456-7890
</address>
<br />
<div class="well" style="max-width: 400px; margin: 0 auto 10px;">
  <%= link_to 'Download Delivery Request Receipt', delivery_request_pdf_path(@delivery_request), class: "btn btn-large btn-block btn-success" %>
  <%= link_to 'Create a new Delivery Request', new_delivery_request_path, class: "btn btn-large btn-block btn-info" %>
</div>
<p>Here is a summary of your delivery request</p>
Delivery address:
<address>
  <strong>Twitter, Inc.</strong><br>
  795 Folsom Ave, Suite 600<br>
  San Francisco, CA 94107<br>
  <abbr title="Phone">P:</abbr> (123) 456-7890
</address>
