<% if @name == "Undefined" %>
Dear member,
<% else %>
Dear <%= @name %>,
<% end %>


The updated Conto Energia 5 in Italy requires every take-back system to account
for the number of modules put on the Italian market by its members.

In order to comply with this requirement, CERES is gathering data from every
Producer.

The Producer is any organization placing photovoltaic modules on the Italian
market for the first time. This includes, but is not limited to, manufacturers,
importers, distributors or installers selling under their brand.

If you are exporting or distributing modules in Italy, you now have to provide
CERES with the following data:
- Consolidated number of modules you put on the market between the 1st of
  October, 2012 and the 31st of December, 2012.
- The corresponding list of module's serial number for that period.

The data will be consolidated and transmitted to the GSE as required by the new
Italian law. It may not be used by CERES for other purposes.

Don't hesitate to contact us if you have any question,


Best Regards,

--
The CERES Team.
