<div class="page-header">
  <h2><i class="icon-tags"></i> Tag cloud</h2>
</div>
<div class="row">
  <div class="span6 offset2">
    <div id="tag_cloud">
      <% tag_cloud Contact.tag_counts, %w[s m l] do |tag, css_class| %>
        <%= link_to tag.name, h(tag_path(tag.name.capitalize)), class: css_class %>
    <% end %>
    </div>
  </div>
</div>
<hr />
<div class="row">
  <div class="span10">
    <% if @contacts %>
      <div class="page-header">
        <h2><i class="icon-tags"></i> Results for tag: <%= @tag %></h2>
      </div>
      <%= render "contacts" %>
    <% end %>
  </div>
</div>
