<div class="row-fluid">

  <% if current_user and current_user.is_admin? %>
    <div class="page-header">
    <h1>Delivery Request Form
      <span class="pull-left" style="margin-right: 20px;"><%= link_to "Edit template", "/editor" + request.path,
        class: "btn btn-primary",
        id: "edit_link",
        data: {url: mercury_update_html_snippet_path(HtmlSnippet.find_by_name("delivery_request_help"))} %></span>
    </h1>
  </div>
<% end %>
<h3 class="text-info">DISPOSE OF PV MODULES</h3>
<h4 class="muted">END-OF LIFE PV MODULES DISPOSAL PROCEDURE</h4>
<p>
Do you have end-of-life (EOL) PV modules from our <a href="http://www.ceres-recycle.org/member-list/members" title="CERES's members brands">members’ brands</a>? You want to dispose of them for free? Follow the procedure  to discover how.
</p>
<%= render 'form' %>
</div>
