#tag_cloud {
  font-weight: bold;
  text-align: center;
  margin-bottom: 2em;
  margin-top: 1em;
  line-height: 1.6em;
  .s { font-size: 0.8em; color:#81BEF7; }
  .m { font-size: 1.2em; color:#0080FF;}
  .l { font-size: 1.8em; color:#045FB4;}
}
#s2id_contact_tag_list { width: 224px; }
/*
input[id*='member_'] {
  width: 300px;
}
*/
