/*
#s2id_delivery_request_collection_point_id { width: 224px; }
*/

#collection_points_nearbys { display: none;}
.njdr .select2-result-label { padding: 0 !important; }
.njdr .select2-highlighted .select2-result-label .collection_point_name { color: #3875D7; }
