<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="span12 ofsset1">
        <p class="pull-right"><a href="#"><%= raw('<i class="icon-chevron-up"></i>') %> Back to top</a></p>
        <p>Designed and built with all the love in the world <a
          href="http://tuna.ceres-recycle.org" target="_blank">Tuna</a> by <%= mail_to "clement.roullet@ceres-recycle.org", "Clément Roullet", encode:"hex" %>.</p>
        <p>Icons from <a href="http://glyphicons.com">Glyphicons Free</a>, licensed under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.</p>
        <ul class="footer-links">
          <li><a href="http://www.ceres-recycle.org">CERES Recycle</a></li>
          <li><%= mail_to "clement.roullet@ceres-recycle.org", "Submit issues", encode:"hex" %></li>
          <li><a href="https://github.com/Cl3MM/cheerful_tuna">Roadmap and changelog</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
