<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <% if request.env['PATH_INFO'] == "/login" %>
        <%= raw '<a class="brand" href="#">CERES Members area</a>' unless current_user %>
      <% elsif  request.env['PATH_INFO'] == "/users/login"%>
        <%= raw '<a class="brand" href="#"><i class="icon-fire"></i> Über contact database <i class="icon-fire"></i></a>' unless current_member %>
      <% end %>
      <% if current_member %>
        <%= render :partial => 'layouts/members' %>
      <% end %>
      <% if current_user %>
        <%= render :partial => 'layouts/user' %>
      <% end -%>
    </div>
  </div>
</div>
